<style>
    .main-video-player{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 80%;
        padding: 50px;
    }
    .url-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .url-container input {
        width: 100%;
    }
    mat-form-field {
        width: 60%;
    }
    .skeleton-container {
      width: 100%; /* Ancho del contenedor del video */
      height: 70%; /* Altura del contenedor del video (aspect ratio 16:9) */
      background-color: #f0f0f0; /* Color de fondo del skeleton */
      border-radius: 4px; /* Borde redondeado */
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .skeleton-video {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e0e0e0; /* Color del fondo del contenedor de video */
    }

    .play-icon {
      width: 50px; /* Tamaño del icono de "play" */
      height: 50px;
      background-color: #ccc; /* Color del icono de "play" */
      border-radius: 50%; /* Icono redondeado */
    }
</style>
<div class="main-video-player">
    <div id="player" class="skeleton-container">
      <div class="skeleton-video">
        <!-- Icono de play -->
        <div class="play-icon"></div>
      </div>
    </div>
    <div class="url-container">
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput [(ngModel)]="this.url" (ngModelChange)="handleUrlChange()">
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="sendVideo()">Select Video</button>
    </div>
</div>
